<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0"/>
	<title>未评价</title>
	<link rel="stylesheet" href="css/base.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<script src="js/jquery-1.8.3.min.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
	<div class="order_num">
		<span>订单号：dd1234555</span>
		<span class="state">已评价</span>
	</div>
	<div class="goods_detail" >
		<table>
			<tr>
				<td>商品名称</td>
				<td>规格</td>
				<td>单价</td>
				<td>数量</td>
			</tr>
			<tr>
				<td>瓶装液化气</td>
				<td>5kg</td>
				<td>35</td>
				<td>1</td>
			</tr>
			<tr>
				<td>瓶装液化气</td>
				<td>10kg</td>
				<td>70</td>
				<td>2</td>
			</tr>
		</table>
	</div>
	<div class="eval_con">
		<ul class="choose_eval">
			<li><img class="ch_btn" src="images/btn_t.png" alt="">好评<img class="flow" src="images/hao.png" alt=""></li>
			<li><img class="ch_btn" src="images/btn_f.png" alt="">中评<img class="flow" src="images/zhong.png" alt=""></li>
			<li><img class="ch_btn" src="images/btn_f.png" alt="">差评<img class="flow" src="images/cha.png" alt=""></li>
		</ul>
		<div class="eval_text">
			<div class="att_text">
				燃气质量非常好，物流速度快，服务态度好！燃气质量非常好，物流速度快，服务态度好！燃气质量非常好，物流速度快，服务态度好！
			</div>
		</div>
		<div class="finish">提交</div>
		
	</div>
</body>
</html>